**/node_modules/
.env
dist/
build/
*.log
*.swp
*.swo
.DS_Store
Thumbs.db
.vscode/
.idea/
npm-debug.log*
Dockerfile*
.dockerignore
/book_service/google_service_account/brs-drive-api-access-8bd9e9139b6c.json